<div class="card">
    <div class="card-header">Subscriptions</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <canvas id="subscriptionChart"></canvas>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
</div>